@use "../../../abstracts/variables";

.app-navigation {
  width: 60rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__link,
  .active {
    font-family: variables.$quicksand-font;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  &__link {
    color: variables.$font-color;

    &:hover,
    &:focus {
      color: rgb(225, 191, 141);
    }
  }

  .active {
    color: rgb(225, 191, 141);
    font-weight: 700;
    border-bottom: 1px solid currentColor;
  }
}
