@use "../../../abstracts/variables";

.quest-card {
  display: flex;
  align-items: flex-start;
  padding: 1rem 2rem;
  border: 1px solid #0d0d0d;
  background-color: #2d2d2d;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  gap: 1rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #313131;

    .quest-card__options {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__checkbox {
    margin-top: 0.2rem;
    background-color: transparent;
    border: 1px solid #b9b9b9;
    border-radius: 100%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & svg {
      opacity: 0;
      transform: scale(0.8);
      transition: all 0.3s ease-in-out;
    }

    &:hover svg {
      opacity: 1;
      transform: scale(1);
    }

    &:active svg {
      transform: scale(0.9);
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__xp {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__options {
    align-self: center;
    margin-left: auto;
    opacity: 0;
    pointer-events: none;
    display: flex;
    gap: 0.5rem;
    transition: 0.3s all ease-in-out;

    &-btn {
      position: relative;
      border: none;
      background-color: transparent;
      color: variables.$font-color;

      &::before {
        content: attr(data-tip);
        position: absolute;
        bottom: 120%;
        left: 50%;
        transform: translateX(-50%) translateY(4px);
        opacity: 0;
        pointer-events: none;
        transition: 0.2s all ease-in-out;
        border: 1px solid #0d0d0d;
        background-color: #2d2d2d;
        color: variables.$font-color;
        padding: 4px 8px;
        border-radius: 6px;
        font-size: 1.2rem;
      }
      &:hover {
        cursor: pointer;
        &::before {
          opacity: 1;
          transform: translateX(-50%) translateY(0);
        }
      }
      & svg {
        transition: 0.2s all ease-in-out;
      }
    }
  }

  &__delete {
    &:hover {
      color: #d74848;
    }
  }

  &__edit {
    &:hover {
      color: #8460c5;
    }
  }
}
