.option {
  border: 1px solid #a3a3a3;
  border-radius: 1rem;
  padding: 0.3rem 0.6rem;
  color: inherit;
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &:nth-child(1) {
    &:hover,
    &:focus {
      border-color: #2bb924;
      color: #2bb924;
      outline: none;
    }
  }

  &:nth-child(3) {
    &:hover,
    &:focus {
      border-color: #d079e6;
      color: #d079e6;
      outline: none;
    }
  }
}
.quest-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border: 1px solid #0d0d0d;
  background-color: #2d2d2d;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  gap: 1rem;

  &__title {
    color: inherit;
    background-color: transparent;
    width: 100%;
    padding-bottom: 0.2rem;
    border: none;
    border-bottom: 1px solid #181818;
    &:focus {
      outline: none;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__options {
    display: flex;
    gap: 1rem;
  }

  &__ritual {
    padding: 0.2rem 1rem;
    transition: all 0.3s ease-in-out;

    &--active,
    &:hover,
    &:focus {
      border-color: #fdb140;
      color: #fdb140;
      outline: none;
    }
  }
  &__interval {
    width: 4rem;

    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      border-color: #79a6e6;
      color: #79a6e6;
      outline: none;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }

  &__btn {
    background-color: #a3a3a3;
    border: 1px solid #181818;
    border-radius: 1rem;
    padding: 0.3rem 0.6rem;
    color: #0d0d0d;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    &--cancel {
      background-color: #a3a3a3;

      &:hover {
        background-color: #d2d2d2;
      }
    }

    &--submit {
      background-color: #46a433;

      &:hover {
        background-color: #5fda46;
      }

      &:disabled {
        background-color: #830b0b;
        cursor: not-allowed;
      }
    }
  }
}
