@use "../abstracts/variables";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name
// .quicksand-<uniquifier > {
//   font-family: "Quicksand", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }
// <weight>: Use a value from 400 to 900
// <uniquifier>: Use a unique and descriptive class name
// .playfair-display-<uniquifier> {
//   font-family: "Playfair Display", serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

body {
  font-family: variables.$playfair-font;
  background-color: #131015;
  color: aliceblue;
}
